#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.fileread{
  margin: 3px;
  border: 1px solid #242424;
  padding: 2px;
}

.navBar{
  border: 1px solid white;
  position:fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  width: 99.8%;
  height: 100px;
  align-items: center;
}

.txts{
  border:1px solid white;
  display:flex;
  align-items:flex-start;
  justify-content: space-between;
  position:fixed;
  width: 99.8%;
  left: 0;
  height: 500px;
  top: 100px;
}

.entradaTxt,
.salidaTxt{
  width: 50%;
  height: 100%;
  resize: none;
}
.btnAnalizar{
  border: 1px solid white;
  position: fixed;
  top:610px;
  left: 0;
  padding: 15px;
  width: 97.8%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
